.cont{
    border: 1px solid black;
    display: flex;
<<<<<<< HEAD
    display:"flex";
     justify-content:"space-between"
}
=======
    width: 50%;
    margin: auto;
}

.formDiv{
    display: flex;
    margin: 3%;
    margin: auto;

}

form{
    margin: 5%;
    background-color: antiquewhite;
    padding: 1%;
}
>>>>>>> 62e5b33b9f424950aaef705d96f2347b1e692bf6
